<h2>Recuperar contraseña</h2>

<form action="/api/sessions/recovery-password" method="post">
    Email: <input type="text" name="email"><br><br>
    Nueva Contraseña: <input type="password" name="password"><br><br>
    <input type="submit" value="Crear nueva contraseña">
</form>